html,
body,
ul,
li,
ol,
dl,
dd,
dt,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
legend,
img,
input {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 16px;
    font-weight: normal;
}
a{
    cursor: pointer;
}
ul,
li,
ol {
    list-style: none;
}

em,
i {
    font-style: normal
}

b,
strong {
    font-weight: normal
}

a,
u {
    text-decoration: none
}

img {
    border: 0;
    display: block;
}

input {
    outline: none;
    border: 0;
    background: none;
}

.clear-fix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

.clear-fix {
    zoom: 1
}

.hide {
    display: none;
}

input{
    box-sizing: border-box;
}

/*public*/
.header_cont,
.search_cont,
.submenu_cont,
.banner_cont,
.recommend_cont,
.attire_cont,
.friend_cont,
.guess_cont,
.footer_cont {
    width: 1200px;
    margin: 0 auto;
}

/*列表项*/

.boxList {
    margin-left: 15px;

    .boxList_first {
        display: block;
        float: left;
        height: 306px;
        width: 462px;
        margin-right: 9px;
        border: 1px solid #fff;
        box-sizing: border-box;
        img {
            width: 100%;
            height: 100%;
        }
    }

    .boxList_first:hover {
        transform: translateZ(0);
        transition: all .7s;
        border-color: #ed3f3f;
    }

    li {
        height: 306px;
        width: 226px;
        background: #f1f1f1;
        float: left;
        margin-right: 8px;
        margin-bottom: 8px;
        border: 1px solid #fff;

        img {
            height: 226px;
            width: 100%;
        }

        dd {
            height: 68px;
            padding-top: 12px;
            position: relative;

            h3 {
                display: block;
                margin: 0px 10px;
                font-size: 12px;
                color: $color_Black;
                height: 32px;
                overflow: hidden;
            }

            .price_discount {
                width: 206px;
                position: absolute;
                bottom: 13px;
                vertical-align: bottom;
                padding:0 10px;
                span {
                    width: auto;
                    display: block;
                    float: left;
                    position: static;
                    
                }
                span:first-of-type{
                    font-size: 12px;
                    line-height: 21px;
                    vertical-align: bottom;
                    
                }
                span:last-of-type{
                    font-size: 16px;
                    line-height: 21px;
                    vertical-align: bottom;
                }
                del{
                    color: #6c6c6c;
                    font-size: 16px;
                    float: right;
                    vertical-align: bottom;
                }
            }

            span {
                display: block;
                width: 100%;
                text-align: center;
                position: absolute;
                bottom: 13px;
                color: $color_Basics;
                font-weight: bold;
                font-size: 16px;
                line-height: 16px;
            }
        }
    }

    li:hover {
        transform: translateZ(0);
        transition: all .7s;
        border-color: #ed3f3f;
    }
}
.num_btn,.num_num{
    user-select: none;
}
.cartNum{
    position: absolute;
    top:-10px;
    right:-10px;
    background: $color_Basics;
    padding: 1px 6px;
    border-radius: 50%;

}
//轮播
.slide.show {
    display: block;
    z-index: 2;
}

.slide.prev-show {
    z-index: 1;
    display: block;
}
//轮播圆点
.dotCont{
    z-index: 555;
    position: absolute;
    left:0;
    right:0;
    bottom:5px;
    margin: auto;
}
.dot{
    width: 14px;
    height: 14px;
    border-radius: 7px;
    background: #ccc;
    opacity: 0.7;
    float: left;
    margin-right: 10px;
}
.dot.active{
    background: $color_Basics;
}
.go_top{
    cursor: pointer;
}
