.wrap_cont {
    width: 1040px;
    margin: 10px auto;
    padding: 20px 10px;
    border: 1px solid #e0e0e0;
    box-sizing: border-box;

    .wrap_left {
        width: 330px;
        margin-bottom: 15px;
        float: left;

        a {
            display: block;
            margin: 0 25px 15px 0;
            background: #eee;
            border-radius: 3px;
            height: 100%;

            img {
                height: 100%;
                width: 100%;
            }
        }
    }

    .wrap_right {
        width: 645px;
        margin-bottom: 15px;
        margin-left: 40px;
        float: left;

        .title {
            font-size: 18px;
        }

        .wrap_price {
            font-size: 12px;
            width: 100%;
            background: #f3f3f3;
            padding: 10px 17px;
            margin-bottom: 10px;
            position: relative;
            box-sizing: border-box;

            .wrap_price_p {
                padding-bottom: 14px;

                span {
                    font-size: 20px;
                    font-weight: 700;
                    color: #e33;
                    line-height: 26px;
                }
            }

            .wrap_price_s {
                margin-bottom: 14px;

                a {
                    color: $color_Black;
                }

                .kf {
                    float: right;
                    height: 18px;
                    border-left: 1px solid #c4bebe;
                    padding: 0 3px 0 20px;

                    img {
                        margin-right: 10px;
                        display: inline-block;
                    }

                    span {
                        display: inline-block;

                    }
                }
            }

            .wrap_price_a {
                margin-bottom: 14px;
                line-height: 24px;
            }
        }

        .wrap_style {
            font-size: 12px;
            margin-bottom: 20px;

            span {
                float: left;
            }

            ul {
                float: left;
                width: 480px;
                margin-left: 5px;
                overflow: hidden;

                li {
                    width: 78px;
                    height: 16px;
                    text-align: center;
                    padding: 5px;
                    margin: 0 6px 6px 0;
                    border: 1px solid $color_Basics;
                    cursor: pointer;
                }
            }
        }

        .wrap_num {
            margin-bottom: 20px;
            font-size: 12px;

            .num_box {
                display: inline-block;
                vertical-align: middle;
                width: 100px;
                margin: 0;
                text-align: center;
                box-sizing: border-box;

                span {
                    line-height: 28px;
                    width: 28px;
                    height: 28px;
                    box-sizing: border-box;
                    border: 1px solid #c4bebe;
                    background: #eee;
                    cursor: pointer;
                    text-align: center;
                    display: inline-block;
                    text-align: center;
                    vertical-align: middle;
                }

                input {
                    border: 1px solid #c4bebe;
                    padding: 5px 10px;
                    background: #fff;
                    border-left: none;
                    border-right: none;
                    line-height: 28px;
                    width: 30px;
                    height: 28px;
                    text-align: center;
                    vertical-align: middle;
                    box-sizing: border-box;
                    margin: 0px -5px;
                }
            }
        }

        .wrap_addcart {
            margin-bottom: 20px;
            .addcart {
                outline: none;
                text-align: center;
                width: 160px;
                height: 40px;
                line-height: 40px;
                color: #fff;
                background: #ed3f3f;
                font-size: 14px;
                border-radius: 5px;
                font-weight: 700;
                cursor: pointer;
                vertical-align: bottom;
                border: none;
            }

            .addhoby {
                outline: none;
                width: 100px;
                margin-left: 20px;
                text-align: center;
                line-height: 36px;
                font-size: 14px;
                border-radius: 5px;
                font-weight: 700;
                cursor: pointer;
                border: 1px solid #ed3f3f;
                color: #ed3f3f;
                background-color: #fff;
            }
        }
    }

    .wrap_bottom {
        width: 100%;
        padding: 10px;
        background: #f8f7f6;
        float: left;
        .title{
            float: left;
            width: 75px;
            margin-left: 10px;
            margin-top: 5px;
            padding-left: 20px;
            font-size: 12px;
            background: url("http://www.cycang.com/Public/build/img/shop/fav_is.png") no-repeat;
            background-size: contain;
        }
        .help_item{
            position: relative;
            float: left;
            width: 80px;
            font-size: 12px;
            color: $color_Black;
            margin-right: 14px;
            cursor: pointer;
            padding: 5px 0;
            span{
                background: url("http://www.cycang.com/Public/build/img/shop/details_icon_question.png")no-repeat;
                width: 13px;
                height: 13px;
                margin-left: 3px;
                margin-top: 2px;
                float: right;
            }
            ul{
                display: none;
                position: absolute;
                width: 200px;
                padding: 10px;
                top:20px;
                left: 0px;
                border: 1px solid $color_Basics;
                background: #f8f7f6;
                li{
                    margin-bottom: 5px;
                }
            }
        }
        .help_item:hover ul{
            display: block;
        }
    }
}