
.friend_cont{
    margin: 0 auto;
    background-color: #fff;
    margin-top: 30px;
    overflow: hidden;
    padding: 30px 0 10px;
    a{
        display: block;
        float: left;
        img{
            display: block;
            float: left;
            width: 180px;
            height: 144px;
            margin: 0 10px 20px;
        }
    }
}











