/*http://www.cycang.com/index.php?c=page&a=page&nums=8&chid=5&start=50*/

.recommend_cont{
    height: 1377px;
    background: #fff;
    margin-top: 30px;
    position: relative;
    .recommend_bar{
        display: block;
        height: 2px;
        width: 50%;
        background: $color_Basics;
        position: absolute;
        transition: all 0.5s;
    }
    .recommend_btn{
        width: 100%;
        height: 92px;
        span{
            width: 2px;
            height: 30px;
            background: $color_Black;
            float: left;
            margin-top: 29px;
        }
        .rbtn{
            text-align: center;
            display: block;
            float: left;
            width: 599px;

            h3{
                font-size: 24px;
                line-height: 24px;
                color: #6c6c6c;;
                padding-top:20px; 
                cursor: pointer;
            }
            a{
                text-align: left;
                display: block;
                font-weight: bold;
                width: 57px;
                line-height: 16px;
                height: 16px;
                margin: 0 auto;
                font-size: 16px;
                color:#6c6c6c;
                margin-top: 10px;
            }
            a:after{
                content: "";
                display: inline-block;
                width: 15px;
                margin-left: 5px;
                margin-bottom: 1px;
                height: 10px;
                background: url("http://www.cycang.com/Public/build/img/shop/index/floor_more.png?__spriter")no-repeat center;
            }
        }
        .rbtn.active{
            h3{
                color: $color_Black;
            }
            a{
                color:$color_Basics;
            }
            a:after{
                background: url("http://www.cycang.com/Public/build/img/shop/index/floor_more_on.png?__spriter")no-repeat center;
            }
        }
    }
    
    


}














