@import "./variable";
/*common*/
@import "./common";

/*head*/
@import "./common_head";

/*cont*/
@import "./details_bread_cont";

/*wrap*/
@import "./details_wrap";

/*details*/
@import "./details_details";

/*banner*/
@import "./details_banner";

/*footer*/
@import "./footer";

.footer_cont{
    margin-top:50px; 
    width: 1040px;
    background: #fff;
}

/*copy*/
@import "./copy";
.copy_cont{
    margin: 0 auto;
    width: 1040px;
}